
input,label{
	display: block;
	color: #000;
}
input{
	margin: 10px;
	font-size: 15px;
}
form{
     background:pink;
     padding: 5px 4px 5px 20px;
     width: 25%;
     margin: auto;
	
	box-shadow: 0px 0px 10px 5px #000;
	font-size: 15px;
}

h2{
	text-align: center;
    color:red ;
}
input[type="submit"]{
	color: #000;

}

fieldset,legend{
	font-size: 25px;
	color: darkred;
}


