header{
	background-image: url("https://images.pexels.com/photos/36744/agriculture-arable-clouds-countryside.jpg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    height: 640px;
}
ul{
	list-style-type: none;
}

li{
	display: inline-block;
	margin-left: 60px;
	margin-top:20px ;

}
a{
	text-decoration: none;
	color: #fff;

}


ul li:hover{
	background:pink;
	color:#000;
}
.title {
	position: absolute;
	bottom: 300px;
	left: 535px;
   color: #fff;
}
.button{
	margin: 290px 450px;
}

.btn1{
	border: 1px solid #fff;

}
.btn2{
	border: 1px solid #fff;
}
.btn3{
	border: 1px solid #fff;
}
.btn1:hover{
	background: yellow;
	color: #000;
}
.btn2:hover{
	background: yellow;
	color: #000;
}
.btn3:hover{
	background: yellow;
	color: #000;
}

.sub-menu{
       display: none;
       top: 6%;
       position: relative;
}
.sub-menu ul{
	position: absolute;
}

.main ul li:hover .sub-menu{
	display: block;
	position: absolute;
	background: #fff;
	margin-top: 12px;
	margin-left: -8px;
}
.main ul li:hover .sub-menu ul {
	display: block;
	margin:6px ;


}
.main ul li:hover .sub-menu ul li{
	width: 75px;
	padding: 5px;
	border-bottom: 1px #fff;
	background: transparent;
	text-align: left;
}


